body {font-size:18px; font-family: 'PT Sans', sans-serif; margin:0 auto; width:95%;}

@media (min-width: 240px) and (max-width: 480px) {

body {font-size:18px; font-family: 'PT Sans', sans-serif; margin:0 auto;}
h1 {color:#FFFFFF; margin-bottom:5px; font-size:24px;}

a:hover {text-decoration:underline;}

a {text-decoration:none;}

a:hover.nav {text-decoration:underline; color:white; font-weight:bold}

a.nav {text-decoration:none; color:white; font-weight:bold}
table.content {font-size:14px; font-family: 'PT Sans', sans-serif; width:95%;}
table.content1 {font-size:14px; font-family: 'PT Sans', sans-serif; width:95%;}
table.content2 {font-size:14px; font-family: 'PT Sans', sans-serif; width:95%;}
table.content3 {font-size:14px; font-family: 'PT Sans', sans-serif; width:115px;}
table.content4 {font-size:14px; font-family: 'PT Sans', sans-serif; width:95%;}
table.container {font-size:16px; font-family: 'PT Sans', sans-serif; width:95%;}
tr.fact_title {font-size:14px; font-family: 'PT Sans', sans-serif; width:100px; background:#dfdfdf;}
tr.fact_value {font-size:14px; font-family: 'PT Sans', sans-serif; width:140px;}
td.fact_title {width:100px; background:#dfdfdf;}

#return_nav {font-size:18px; font-family: 'PT Sans', sans-serif;}

.fun-facts {font-size:16px; font-family: 'PT Sans', sans-serif; width:95%;}
.fun-facts ul {margin:6px; padding:10px; }

#colwrap { 
  width: 95%;
  margin-bottom:10px;
}

#col1 {

}

#col2 {

}

#ncol1 {
  width: 100%;
}

#ncol2 {
  width: 100%;
}

#col3 {

}

#col4 {

}

#clearing {
  clear:both;
}

#custom-search {
  display:none;
}

.top-wide {
  display:none;
}

}

@media (min-width: 481px) and (max-width: 800px) {

body {font-size:18px; font-family: 'PT Sans', sans-serif; margin:0 auto;}
h1 {color:#FFFFFF; margin-bottom:5px; font-size:24px;}

a:hover {text-decoration:underline;}

a {text-decoration:none;}

a:hover.nav {text-decoration:underline; color:white; font-weight:bold}

a.nav {text-decoration:none; color:white; font-weight:bold}
table.content {font-size:14px; font-family: 'PT Sans', sans-serif; width:480px;}
table.content1 {font-size:14px; font-family: 'PT Sans', sans-serif; width:480px;}
table.content2 {font-size:14px; font-family: 'PT Sans', sans-serif; width:480px;}
table.content3 {font-size:14px; font-family: 'PT Sans', sans-serif; width:230px;}
table.content4 {font-size:14px; font-family: 'PT Sans', sans-serif; width:230px;}
table.container {font-size:18px; font-family: 'PT Sans', sans-serif; width:95%;}
tr.fact_title {font-size:14px; font-family: 'PT Sans', sans-serif; width:150px; background:#dfdfdf;}
tr.fact_value {font-size:14px; font-family: 'PT Sans', sans-serif; width:330px;}

td.fact_title {width:150px; background:#dfdfdf;}

#return_nav {font-size:18px; font-family: 'PT Sans', sans-serif;}

.fun-facts {font-size:16px; font-family: 'PT Sans', sans-serif; width:480px;}
.fun-facts ul {margin:6px; padding:10px; }
#colwrap { 
  width: 95%;
  margin-bottom:10px;
}

#col1 {
  float: left;
  width: 25%;
}

#col2 {
  float: left;
  width: 25%;
}

#col3 {
  float: left;
  width: 25%;
}

#col4 {
  float: left;
  width: 25%;
}

#ncol1 {
  float: left;
  width: 50%;
}

#ncol2 {
  float: left;
  width: 50%;
}

#clearing {
  clear:both;
}

#custom-search {
  display:none;
}

.top-wide {
  display:none;
}

}

@media (min-width: 801px) and (max-width: 980px) {
body {font-size:18px; font-family: 'PT Sans', sans-serif; margin:0 auto;}
h1 {color:#FFFFFF; margin-bottom:5px; font-size:24px;}

h2 {color:#FFFFFF; margin-bottom:5px; font-size:24px;}

a:hover {text-decoration:underline;}

a {text-decoration:none;}

a:hover.nav {text-decoration:underline; color:white; font-weight:bold}

a.nav {text-decoration:none; color:white; font-weight:bold}

table.content {font-size:14px; font-family: 'PT Sans', sans-serif; width:720px;}
table.container {font-size:18px; font-family: 'PT Sans', sans-serif; width:800px;}
tr.fact_title {font-size:14px; font-family: 'PT Sans', sans-serif; width:250px; background:#dfdfdf;}
tr.fact_value {font-size:14px; font-family: 'PT Sans', sans-serif; width:470px;}

table.content1 {font-size:14px; font-family: 'PT Sans', sans-serif; width:720px;}

table.content2 {font-size:14px; font-family: 'PT Sans', sans-serif; width:720px;}

table.content3 {font-size:14px; font-family: 'PT Sans', sans-serif; width:350px;}
table.content4 {font-size:14px; font-family: 'PT Sans', sans-serif; width:300px;}

table.index {font-size:14px; font-family: 'PT Sans', sans-serif;}

td.fact_title {width:250px; background:#dfdfdf;}

.fun-facts {font-size:18px; font-family: 'PT Sans', sans-serif; width:800px;}
.fun-facts ul {margin:6px; padding:10px; }

#custom-search {
  position:  absolute;
  top: 15px;
  left: 55%;
}

#return_nav {font-size:18px; font-family: 'PT Sans', sans-serif;}

#colwrap { 
  width: 95%;
  margin-bottom:10px;
}

#col1 {
  float: left;
  width: 25%;
}

#col2 {
  float: left;
  width: 25%;
}

#col3 {
  float: left;
  width: 25%;
}

#col4 {
  float: left;
  width: 25%;
}

#ncol1 {
  float: left;
  width: 50%;
}

#ncol2 {
  float: right;
  width: 50%;
}

#clearing {
  clear:both;
}

.jump-box {width:100%; padding-bottom:50px;}
#j1 {float:left; width:50%;}
#j2 {float:left; width:50%;}
#j3 {float:left; width:50%;}
#j4 {float:left; width:50%;}
#j5 {float:left; width:50%;}
#j6 {float:left; width:50%;}
#j7 {float:left; width:50%;}
#j8 {float:left; width:50%;}

.top-narrow {
  display:none;
}

}

@media (min-width: 981px) {
body {font-size:18px; font-family: 'PT Sans', sans-serif; width:800px; margin:0 auto;}
h1 {color:#FFFFFF; margin-bottom:5px; font-size:24px;}

h2 {color:#FFFFFF; margin-bottom:5px; font-size:24px;}

a:hover {text-decoration:underline;}

a {text-decoration:none;}

a:hover.nav {text-decoration:underline; color:white; font-weight:bold}

a.nav {text-decoration:none; color:white; font-weight:bold}

table.content {font-size:16px; font-family: 'PT Sans', sans-serif; width:720px;}
table.container {font-size:18px; font-family: 'PT Sans', sans-serif; width:800px;}
tr.fact_title {font-size:16px; font-family: 'PT Sans', sans-serif; width:250px; background:#dfdfdf;}
tr.fact_value {font-size:16px; font-family: 'PT Sans', sans-serif; width:470px;}
td.fact_title {width:250px; background:#dfdfdf;}

table.content1 {font-size:16px; font-family: 'PT Sans', sans-serif; width:720px;}

table.content2 {font-size:16px; font-family: 'PT Sans', sans-serif; width:720px;}

table.content3 {font-size:16px; font-family: 'PT Sans', sans-serif; width:350px;}
table.content4 {font-size:16px; font-family: 'PT Sans', sans-serif; width:300px;}

table.index {font-size:16px; font-family: 'PT Sans', sans-serif;}

.fun-facts {font-size:18px; font-family: 'PT Sans', sans-serif; width:800px;}
.fun-facts ul {margin:6px; padding:10px; }

#custom-search {
  position:  absolute;
  top: 15px;
  left: 55%;
}

#return_nav {font-size:18px; font-family: 'PT Sans', sans-serif;}

#colwrap { 
  width: 95%;
  margin-bottom:10px;
}

#col1 {
  float: left;
  width: 25%;
}

#col2 {
  float: left;
  width: 25%;
}

#col3 {
  float: left;
  width: 25%;
}

#col4 {
  float: left;
  width: 25%;
}

#ncol1 {
  float: left;
  width: 50%;
}

#ncol2 {
  float: right;
  width: 50%;
}

#clearing {
  clear:both;
}

#map {
        width: 100%;
        height: 400px;
     }

.jump-box {width:100%; padding-bottom:50px;}
#j1 {float:left; width:50%;}
#j2 {float:left; width:50%;}
#j3 {float:left; width:50%;}
#j4 {float:left; width:50%;}
#j5 {float:left; width:50%;}
#j6 {float:left; width:50%;}
#j7 {float:left; width:50%;}
#j8 {float:left; width:50%;}

.top-narrow {
  display:none;
}

}